/* Couleur */
html{
  --text-font-family: 'Goldman', cursive;
  --main-bg-color : rgba(29, 93, 231, 0.76);
  --texte-title-color :rgb(0, 247, 255);
  --title-font-family: 'Passion One', cursive;  
}


header {
  color: white;
  text-align: center; 
  margin: auto; 
}

/* *******************! Contact ********************************* */

.entete--contact{
  background-image: url(../pictures/mobile_desktop_computer.jpg);
  max-width: 110em;
  height: 40em;
  padding-top: 40px;
  display: block;
}


h3 {
  color: rgb(0, 247, 255);
    
  font-family: 'Press Start 2P', cursive, sans-serif;
  margin: 10px;
  padding-top: 20px;
  text-transform: capitalize;
}
    
h3::before {
  content:"<" ;
}
h3::after {
  content: ">";
}

/* Titre  */
h1{
  padding: 0.5em;
  color: rgba(29, 93, 231, 0.76);
  display: inline;
  max-width: 110em;
  font-family: 'Goldman', cursive;
  text-shadow: rgb(0, 247, 255) 1px 0 10px;
  font-size: 70px;
}

h2{
  margin: 10px;
  padding: 0.3em;
  color: rgba(29, 93, 231, 0.76);
  font-size: 56px;
  font-family: 'Goldman', cursive;
  font-weight: bold;
  max-width: 110em;
  text-shadow: rgb(0, 247, 255) 1px 0 3px;
}


h3 {
  text-align: center;
  font-family: 'Press Start 2P', cursive, sans-serif;
}


h4{
  text-align: center;
  font-family: 'Goldman', cursive;
  color: rgba(29, 93, 231, 0.76);
  text-shadow: rgb(0, 247, 255) 1px 0 3px;
  font-size: 36px;
}



body{
  font-family: 'Roboto', sans-serif;
  background-color: gray;
  display: block;
  text-align: center;
  overflow: scroll;
  max-width: 110em;
  font-size: 16px;
  color: white;
}

nav {
  text-align: center;
  display: block; 
  /* flex-wrap: wrap;    */
  margin-top: -2em;
  box-shadow: 3px 3px 3px 3px rgb(0, 247, 255);
  background-color: rgba(0, 31, 51);
  font-weight: bold;
  font-size: 20px;
  max-width: 110em;
  padding: 0.5em;
  position:relative; 
}

a{
  padding: 0.5em;
  text-decoration: none;
  color: rgb(0, 247, 255);    
  text-shadow: 1em ; 
  position: sticky;   
  margin-bottom: 1em;
  margin-left: 1em;
  /* display: block; */
}

.nav_contact {
  margin-right: 1em;
}

nav a:hover {
  box-shadow: 3px 3px 3px 3px rgb(0, 247, 255);  
    
}

/* ====================================================== */
/* ======================/* Formulaire ================== */
/* ====================================================== */


.corp {
  display: block;
  margin: auto;
  background: rgba(0, 31, 51) url("https://s3.bmp.ovh/imgs/2021/09/3760b5e2cc46f556.png");   
  /* background-color: rgba(0, 31, 51);    */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 110em;
  padding: 30px 20px;
  text-align: center;
}


  
.post {
  max-width: 110em;
  padding: 1.5em;
  font-size: 1em;
  display: flex;
}
  
form{
  width: 90%;
  margin: auto;
}


.form_lastname, 
.form_firstname, 
.form_email, 
.form_message {
  font-weight: bold;
  color: rgba(29, 93, 231, 0.76);
  text-shadow: rgb(0, 247, 255) 1px 0 3px;
  font-size: 2em;
  font-family: 'Goldman', cursive;
  padding: 0.5em;

}
  
.form__contact{
  display: flex;
  border: none;
  width: 90%;
  align-items: center;

}

#lastname, #firstname, #email {
  width: 20%;
  background-color: rgba(0, 31, 51);   
  box-shadow: 3px 3px 3px 3px rgb(0, 247, 255); 
  color: white;
}


.form__text {
  width: 90%;
  border: none;
  margin-bottom: 10%;
}

#message{
  background-color: rgba(0, 31, 51);   
  box-shadow: 3px 3px 3px 3px rgb(0, 247, 255); 
  color: white;
  width: 50rem;
}
  
button {
  padding: 0.5em;
  background-color: rgb(0, 247, 255);
  color: rgba(0, 31, 51); 
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  margin: 10px;
}
  
  
.alert {
  color: black;
  background-color: red;
  padding: 0.4rem;
}
  
.form_message {
  line-height: 3em;
}
  
#signature {
  font-size: larger;
}


/* bas de page */
.contact {
  text-align: center;
  border: 2px solid gray;    
  box-shadow: 3px 3px 3px 3px rgb(0, 247, 255);
  max-width: 110em;
}

footer {
  text-align: center;
  color: white;
  max-width: 1500px;
  padding-top: 10px;
  max-width: 110em;
}

.contact a {
  padding: 0px;
}

* {
  box-sizing: border-box;
}


